<app-blank pageName="Reçeteler" [routes]="['Reçeteler']">
    <app-section sectionTitle="Reçete Listesi">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Reçete Ekle
                </button>
            </div>

            <div class="col-3">
                <input [(ngModel)]="search" type="search" class="form-control" placeholder="Aranacak değer girin...">
            </div>
        </div>

        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Adı</th>                       
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @for(data of recipes | recipe: search ;track data){
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{data.product.name}}</td>
                        <td>
                            <button routerLink="/recipe-details/{{data.id}}" class="btn btn-dark btn-sm me-1">
                                <i class="fa-solid fa-eye me-1"></i>
                                Detay
                            </button>
                            <button (click)="deleteById(data)" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Reçete Ekleme Formu</h1>
                <button type="button" #createModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reçete Oluşturulacak Ürün</label>
                        <select class="form-control" [(ngModel)]="createModel.productId" name="productId" required>
                            @for(product of products; track product){
                                <option [value]="product.id">{{product.name}} 
                                    <span>({{product.type.name}})</span>
                                </option>
                            }
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <hr>
                    
                    <div class="form-group mt-2">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Yarı Mamül</label>
                                    <select class="form-control" [(ngModel)]="detail.productId" [ngModelOptions]="{standalone:true}">
                                        @for(product of semiProducts; track product){
                                            <option [value]="product.id">{{product.name}}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Adet</label>
                                    <input class="form-control" [(ngModel)]="detail.quantity" [ngModelOptions]="{standalone:true}">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>İşlemler</label>
                                    <br>
                                    <button type="button" class="btn btn-dark" (click)="addDetail()">Ekle</button>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ürün Adı</th>
                                        <th>Adedi</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(data of createModel.details;track data){
                                        <tr>
                                            <td>{{$index + 1}}</td>
                                            <td>{{data.product.name}}</td>
                                            <td>{{data.quantity}}</td>
                                            <td>
                                                <button (click)="removeDetail($index)" class="btn btn-outline-danger btn-sm">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>                 
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-dark w-100">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>