<app-blank pageName="Depolar" [routes]="['Depolar']">
    <app-section sectionTitle="Depo Listesi">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Depo Ekle
                </button>
            </div>

            <div class="col-3">
                <input [(ngModel)]="search" type="search" class="form-control" placeholder="Aranacak değer girin...">
            </div>
        </div>

        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Depo Adı</th>
                        <th>Şehir</th>
                        <th>İlçe</th>
                        <th>Açık Adres</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @for(data of depots | depot: search ;track data){
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.city}}</td>
                        <td>{{data.town}}</td>
                        <td>{{data.fullAddress}}</td>
                        <td>
                            <button data-toggle="modal" data-target="#updateModal" (click)="get(data)" class="btn btn-outline-primary btn-sm me-1">
                                <i class="fa-solid fa-edit"></i>
                            </button>
                            <button (click)="deleteById(data)" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Depo Ekleme Formu</h1>
                <button type="button" #createModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Depo Adı</label>
                        <input type="text" required minlength="3" [(ngModel)]="createModel.name" class="form-control" name="name">
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-group mt-2 row">
                        <div class="col-6">
                            <div class="form-group mt-2">
                                <label>Şehir</label>
                                <input type="text" required minlength="3" [(ngModel)]="createModel.city" class="form-control" name="city">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mt-2">
                                <label>İlçe</label>
                                <input type="text" required minlength="3" [(ngModel)]="createModel.town" class="form-control" name="town">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label>Açık Adres</label>
                        <textarea class="form-control" required minlength="3" [(ngModel)]="createModel.fullAddress" name="fullAddress" rows="5"></textarea>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-dark w-100">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Depo Güncelleme Formu</h1>
                <button type="button" #updateModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <form formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Depo Adı</label>
                        <input type="text" required minlength="3" [(ngModel)]="updateModel.name" class="form-control" name="updateName">
                        <div class="invalid-feedback"></div>
                    </div>
                                       
                    <div class="form-group mt-2 row">
                        <div class="col-6">
                            <div class="form-group mt-2">
                                <label>Şehir</label>
                                <input type="text" required minlength="3" [(ngModel)]="updateModel.city" class="form-control" name="updateCity">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mt-2">
                                <label>İlçe</label>
                                <input type="text" required minlength="3" [(ngModel)]="updateModel.town" class="form-control" name="updateTown">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label>Açık Adres</label>
                        <textarea class="form-control" required minlength="3" [(ngModel)]="updateModel.fullAddress" name="updateFullAddress" rows="5"></textarea>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-primary w-100">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>